[submodule "blackJack"]
	path = blackJack
	url = https://github.com/mohamedsennia/blackJackBack
[submodule "blackJackFront"]
	path = blackJackFront
	url = https://github.com/mohamedsennia/blackJackFront
